# Database Configuration (Sensitive Data)
export DATABASE_HOST="localhost"
export DATABASE_PORT="5432"
export DATABASE_NAME="connxt"
export DATABASE_USERNAME="admin"
export DATABASE_PASSWORD="admin"

export FRONTEND_URL="https://app.connxt.fynxt.io,https://widget.connxt.fynxt.io"
export BACKEND_SERVER_URL="https://unflirtatiously-patronising-kyler.ngrok-free.dev"

# Flyway Configuration
export FLYWAY_ENABLED="true"

# JWT Configuration
export JWT_ISSUER="connxt-app-prod"
export JWT_AUDIENCE="connxt-api-prod"
export JWT_SIGNING_KEY_ID="keyid-bb9f17a8f07c4d12"
export JWT_REFRESH_SIGNING_KEY_ID="refreshid-38fcd02b9a3d7b9f"
export JWT_ACCESS_TOKEN_EXPIRATION="PT1H"
export JWT_REFRESH_TOKEN_EXPIRATION="P7D"

# Email Configuration
export EMAIL_CONNECTION_STRING="YOUR_EMAIL_CONNECTION_STRING_HERE"
export EMAIL_SENDER_ADDRESS="noreply@email.connect.fynxt.io"