# Database Configuration (Sensitive Data)
export DATABASE_HOST="localhost"
export DATABASE_PORT="5432"
export DATABASE_NAME="nexxus"
export DATABASE_USERNAME="admin"
export DATABASE_PASSWORD="admin"

export FRONTEND_URL="https://app.nexxus.fynxt.io,https://widget.nexxus.fynxt.io"
export BACKEND_SERVER_URL="https://unflirtatiously-patronising-kyler.ngrok-free.dev"

# Flyway Configuration
export FLYWAY_ENABLED="true"

# Fixer API Configuration
export FIXER_API_ACCESS_KEY=
export FIXER_API_SCHEDULE="0 0 0,4 * * *"

# JWT Configuration
export JWT_ISSUER="nexxus-app-prod"
export JWT_AUDIENCE="nexxus-api-prod"
export JWT_SIGNING_KEY_ID="keyid-bb9f17a8f07c4d12"
export JWT_REFRESH_SIGNING_KEY_ID="refreshid-38fcd02b9a3d7b9f"
export JWT_ACCESS_TOKEN_EXPIRATION="PT1H"
export JWT_REFRESH_TOKEN_EXPIRATION="P7D"

# Widget Session Management Configuration (Sensitive Keys)
export WIDGET_SESSION_HMAC_KEY="T1iAq8qYZFqS8P9W4s3gT9vG2x7Zs5M9pJqU6bV5dKqD7wF6zP3uF5yC9qX1oE8N"
export WIDGET_SESSION_FINGERPRINT_ENCRYPTION_KEY="bxPL1K4hC3vZr9sM2dJq8NfL5aT0WcR7"

# Email Configuration
export EMAIL_CONNECTION_STRING="YOUR_EMAIL_CONNECTION_STRING_HERE
export EMAIL_SENDER_ADDRESS="noreply@email.connect.fynxt.io"